<h1>New Game</h1>
<ul class='game-grid'>
    <% @letters.each do|letter| %>
    <li class='game-letter'>
        <%= letter  %>
    </li>
    <% end %>
</ul>
<div class="game-form">
    <form action="/score" method="post">
        <input type="text" name="word" placeholder="  What is your longest word? ">
        <input type="submit" value=" Play ">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :grid_letters, @letters %>
    </form>
</div>